header { 
  
  background: linear-gradient(30deg, crimson,sienna,royalblue, indianred, purple);
     padding: 8px;
     text-align: center; 
    }
    body{ font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
   
    .marco {
      padding:8px 8px 25px 8px;
      background-color: black;
      width: 300px;
      border: 2px solid #989494;
      margin: auto;
      display: block;
   }
   article{
     text-align: justify;
     font-style: italic;
     text-decoration: underline;
     font-size: medium;
   }
   
   
   
    footer {background: linear-gradient(30deg, crimson,sienna,royalblue, indianred, purple);
      text-align: center;
      font-weight: bold;
      font-size: large;
      margin: auto;
      display: block;
      }
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   text-align: center;
    background-color: #C4C4C4;
    color: blue;
    Font-family:" verdana ";
    Font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0px;
    padding: 14px;
  }

 {
    background-color: #C4C4C4;
    color: blue;
    Font-family: "Times New Roman";
    Font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0px;
    padding: 14px;
    margin-top: 128px;
  }

 {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 84.69%;
    /* identical to box height, or 17px */
    color: #FFFFFF;
   text-align: center;
    width: 1440px;
    height: 37px;
    left: 0px;
    top: 987px;
    padding: 20px;
    
    background: #005677;
  }

{
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 84.69%;
  margin-top: 125p