header { 
  
background: linear-gradient(10deg, crimson,sienna,royalblue, indianred, purple);
   padding: 20px;
   text-align: center; 
  }
  .marco {
    padding:8px 8px 20px 8px;
    background-color: #ffffff;
    width: 200px;
    border: 1px solid #999999;
    margin: auto;
    display: block;
    border-radius: 15px;
 }
  body{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
  h1,h3 {background-color: rgba(155, 99, 128, 0.8);
  text-align: center;
  letter-spacing: 5px;
  font-style: normal;
  }
  h3{text-align: left;}
  
  section{background-color: rgba(155, 99, 128, 0.8);
  text-align: center;}
  a {color: black;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 20px;
  }
 
footer {background: linear-gradient(30deg, crimson,sienna,royalblue, indianred, purple);
text-align: center;
font-weight: bold;
font-size: large;
}